/*=========================/*=========================/*=========================
                              CSS Général
=========================*/
/*=========================/*=========================*/
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ephesis', cursive;
    background: linear-gradient(to bottom, #ffafdc 0%, #ffbebe 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}


/*=========================/*=========================/*=========================
                              CSS pour le header
=========================*/
/*=========================/*=========================

/*=========================
  CSS pour la navbar
===========================*/
* {
    text-decoration: none;
    list-style: none;
}

.hamburger-icon {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 50px;
    cursor: pointer;
}

@media screen and (max-width: 1315px) {
    .hamburger-icon {
        display: block;
    }

    .logo {
        margin-top: -170px;
        margin-bottom: -15px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centre horizontalement */
        justify-content: center;
        /* Centre verticalement */
        max-width: 100%;
    }

    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: column;
        margin-top: 500px;
        max-width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.452);
        backdrop-filter: blur(7px);
        z-index: 1000;
    }

    .nav-left.hidden,
    .nav-right.hidden {
        display: none;
    }

    .nav-left {
        display: flex;
        /* Utilisez Flexbox pour le positionnement */
        flex-direction: column;
        /* Empile les éléments verticalement */
        align-items: center;
        /* Centre horizontalement les éléments à l'intérieur */
        justify-content: center;
        /* Centre verticalement les éléments à l'intérieur */
        text-align: center;
        /* Centre le texte des éléments à l'intérieur */
        width: 100%;
        /* Utilisez toute la largeur disponible */
        margin: auto;
        /* Centrage horizontal du conteneur lui-même */
        border-radius: 20px 20px 0px 0px;
    }

    .nav-left ul {
        width: 100%;
        /* Utilisez toute la largeur disponible */
        display: flex;
        /* Utilisez Flexbox pour le positionnement */
        flex-direction: column;
        /* Empile les éléments verticalement */
        align-items: center;
        /* Centre horizontalement les éléments de la liste */
    }

    .nav-right {
        display: flex;
        /* Utilisez Flexbox pour le positionnement */
        flex-direction: column-reverse;
        /* Empile les éléments verticalement */
        align-items: center;
        /* Centre horizontalement les éléments à l'intérieur */
        justify-content: center;
        /* Centre verticalement les éléments à l'intérieur */
        width: 100%;
        /* Utilisez toute la largeur disponible */
        margin: auto;
        /* Centrage horizontal du conteneur lui-même */
        border-radius: 0px 0px 20px 20px;
    }

    .icon-shift-right {
        margin-left: 50px;
        /* Déplace l'icône de 10 pixels vers la droite */
    }

    .search-form {
        margin-bottom: 20px;
        width: 100%;
        /* Ajustez selon le besoin */
        justify-content: center;
        /* Centre le formulaire dans son conteneur */
    }

}

.navbar {
    /* Styles de .navbar restent inchangés */
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 25px;
}

.logo {
    /* Styles de .logo restent inchangés */
    width: 400px;
    height: auto;
    margin-left: -70px;
    margin-right: -90px;
    transform: rotate(-10deg) translateX(-5px);
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 3.5em;
    transition: color 0.3s;
}

.nav-left a:hover {
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.search-form input,
.search-form button {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.search-form input {
    border-radius: 20px 0 0 20px;
}

.search-form button {
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.nav-right {
    display: flex;
}

.nav-right .user-menu,
.nav-right a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-right a:hover {
    color: white;
}


.nav-left ul,
.nav-right .user-menu {
    display: flex;
    margin: 0;
}

.nav-left li,
.nav-right .user-menu {
    margin-right: 50px;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 72px;
    right: -90px;
    /* Hauteur de l'icône plus un peu de marge */
    /* Centrage par rapport à l'icône */
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px 20px 20px 20px;
    width: 240px;
    /* Largeur fixe du menu déroulant */
    /* Décale le menu vers la gauche de sa propre largeur */
    z-index: 1000;
}

.dropdown-menu a {
    padding: 8px 15px;
    /* Ajustez le padding pour réduire la taille globale des liens */
    font-size: 1.5em;
    /* Taille de police spécifique pour les liens */
}

.user-menu:hover .dropdown-menu {
    display: block;
}

/*=========================/*=========================/*=========================
                              CSS pour le footer
=========================*/
/*=========================/*=========================*/

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4e4e4e;
    color: white;
}

.social-media-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
}

.social-media-icons a:hover {
    color: #ffafdc;
}


/*=========================/*=========================/*=========================
                              CSS pour la page index
=========================*/
/*=========================/*=========================

/*=========================
  CSS pour le Carousel
=========================*/

.header-carousel {
    position: relative;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/*=========================
  CSS pour l'Image Section
=========================*/

.header-content {
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1315px) {
    .header-carousel {
        margin-bottom: -230px;
        /* Réduisez selon le besoin */
        height: 500px;
        width: 80%;
    }

    .header-slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centre les éléments */
    }

    .header-slogan h1 {
        order: 2;
        /* Le texte est affiché en second */
    }

    .order-button {
        order: 1;
        /* Le bouton est affiché en premier */
        margin-bottom: 30px;
    }
}

@media (min-width: 1315px) {
    .header-content {
        flex-direction: row;
    }

}

.header-image {
    margin-top: auto;
    margin-left: auto;
    height: auto;
    /* Garder les proportions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*=========================
  CSS pour le Slogan Header
=========================*/

.header-slogan {
    align-items: center;
    /* Centre les éléments */
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 2em;
}

.header-slogan h1 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.order-button-home {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Ephesis', cursive;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.order-button-home:hover {
    background-color: #000000;
    color: white;
}

/*=========================/*=========================/*=========================
                              CSS pour la page noscookies
/*=========================/*=========================*/
/*===================/**/

.title-noscookies {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
    font-size: 5.8em;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    margin-top: 130px;
    margin-right: 80px;
    margin-left: 80px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    /* Dégradé blanc */
    padding: 110px;
    margin-bottom: 20px;
}

.product-image {
    flex: 1;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    /* Dégradé blanc */
}

a.order-button-page-produit {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 60px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Ephesis', cursive;
    font-size: 1.8em;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.order-button-page-produit:hover {
    background-color: #000000;
    color: white;
}

.product-info {
    flex: 1;
    text-align: center;
    padding-left: 70px
}

.product-info h2 {
    font-size: 3em;
}

.product-info p {
    font-size: 1.8em;
}

@media screen and (max-width: 1700px) {

    .product-image,
    .product-info {
        width: 100%;
        /* Les deux prennent toute la largeur de leur conteneur */
    }

    .product-container {
        padding: 30px;
        /* Réduire le padding pour les petits écrans */
    }
}

/*=========================/*=========================/*=========================
                              CSS pour la page contact
/*=========================/*=========================*/
/*===================/**/

.title-contact {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
    font-size: 3.8em;
}

.skills-section2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* Ajouté pour la centration verticale */
}

.contact-form {
    width: 80%;
    margin: auto;
    /* Ajouté pour centrer le formulaire */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #222324;
    /* Même couleur que vos barres de progression */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555556;
    /* Couleur plus claire lors du survol */
}