@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


/*=========================
  CSS pour la navbar
=========================*/
* {
    text-decoration: none;
    list-style: none;
}

.hamburger-icon {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 50px;
    cursor: pointer;
}


@media screen and (max-width: 1500px) {
    .hamburger-icon {
        display: block;
    }
    .navbar > .nav-left {
        top: 0;
        left: 0;
        position: absolute;
        flex-direction: column;
    }
    .navbar > .nav-right {
        margin-top: 450px;
        position: absolute;
        flex-direction: column;
    }
    .nav-left ul {
        display: flex;
        flex-wrap: wrap; /* Permet aux éléments de la liste de passer à la ligne */
      }
      
      .nav-left ul li {
        width: 100%; /* Force chaque élément de la liste à occuper la largeur totale de la ligne */
        text-align: center; /* Centre le texte dans chaque élément */
      }   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 30px;
}

.logo {
    width: 400px;
    height: auto;
    margin-left: -70px;
    margin-right: -90px;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 3.5em;
    transition: color 0.3s;
}

.nav-left a:hover {
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-form input,
.search-form button {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.search-form input {
    border-radius: 20px 0 0 20px;
}

.search-form button {
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.nav-right {
    display: flex;
}

.nav-right .user-menu,
.nav-right a {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-right a:hover {
    color: white;
}


.nav-left ul, .nav-right .user-menu {
    display: flex;
    margin: 0;
}

.nav-left li, .nav-right .user-menu {
    margin-right: 50px;
}

.dropdown-menu {
    display: none;
    position: relative;
    background-color: rgb(255, 87, 87)55, 255, 255;
    width: 200px; /* Largeur fixe du menu déroulant */
}

.dropdown-menu a {
    padding: 8px 15px; /* Ajustez le padding pour réduire la taille globale des liens */
    font-size: 1.5em; /* Taille de police spécifique pour les liens */
}

.user-menu:hover .dropdown-menu {
    display: block;
}

/*=========================
  CSS pour le Carousel
=========================*/

.header-carousel {
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/*=========================
  CSS pour l'Image Section
=========================*/

.header-content {
    display: flex;
    flex-direction: column;

}

@media (min-width: 1440px) {
    .header-content {
        flex-direction: row;
    }
}

.header-image {
    margin-top: auto;
    margin-left: auto;
    height: auto; /* Garder les proportions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*=========================
  CSS pour le Slogan Header
=========================*/

.header-slogan {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 2em;
}

.header-slogan h1 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.header-slogan p {
    margin-top: 10px;
    color: #666;
}

.order-button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Ephesis', cursive;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.order-button:hover {
    background-color: #ffafdc;
    color: white;
}

/*=========================
  CSS Général
=========================*/

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ephesis', cursive;
    background: linear-gradient(to bottom, #ffafdc 0%, #ffffff 100%);
    min-height: 100%;
    padding-top: 60px;
}
